/* CSS for nodejs_tic */

#nodejs-tic-wrapper
{
  position: relative;
}

#nodejs-tic-info
{
  position: absolute;
  z-index: 100;
  font-size: 2em;
  background: rgba(224, 224, 224, 0.85);
  border: 5px solid #444;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
